node_modules
.next
dist
.git
*.md
.env
.env.local
.env.*.local
coverage
test-results
.turbo
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.cache
.eslintcache
.npmrc
.nyc_output
pnpm-debug.log
